@keyframes movingWaterEffect {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px;
  }
  
  .section {
    flex-basis: 45%;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .journeySection, .skillsSection {
    background-color: #fff; /* White background color for both sections */
    color: #333; /* Text color */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center align the items */
    text-align: center; /* Center the text */
  }
  
  .svgContainer svg path {
    stroke: #2f7da1; /* Change SVG stroke to red */
  }
  
  /* Order the SVG and content for Skills section */
  .skillsSection .svgContainer {
    order: -1; /* SVG goes on top */
  }
  
  .largeHeading {
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .paragraphStyle {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
  }
  
  
  /* You may add additional custom styles and animations here */